:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;
    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
    --custom-guild-list-padding: 12px;
}

nav[class*="guilds"] {
    defs > path[id*="blob_mask"] {
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z") !important;
    }

    defs,
    [class*="blobContainer"],
    [class*="listItemWrapper"],
    [class*="wrapper"],
    svg[class*="placeholderMask"],
    svg:not([class*="placeholderMask"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="childWrapper"] img,
    img[class*="icon"],
    [class*="folderPreviewGuildIcon"],
    [class*="circleIconButton"] {
        border-radius: 8px !important;
        transition: border-radius 150ms ease;
    }

    [class*="shiftSVG"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        use[href$="-lower_badge_masks"] {
            translate: var(--badge-offset) var(--badge-offset);
        }

        use[href$="-upper_badge_masks"] {
            translate: var(--badge-offset);
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderHeader"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
    }

    [class*="folderIcon"] {
        background-color: var(--bg-mod-subtle);

        svg {
            width: 24px !important;
            height: 24px !important;
        }
    }

    [class*="isExpanded"] {
        [class*="folderGroupBackground"] {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        [class*="stack"] {
            height: auto !important;
        }
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
        --blob-scale: var(--folder-blob-scale);
    }

    #guild-list-unread-dms > div {
        height: var(--guildbar-avatar-size) !important;
    }
}

@supports (--css: supports) {
    [class*="wrapper_cc5dd2"],
    [class*="blobContainer"] {
        border-radius: 8px !important;
    }

    [class*="wrapper__6e9f8"] {
        border-radius: 8px !important;
    }

    [class*="folderButtonInner"] {
        border-radius: 8px !important;
    }
}
